.spot-container {
  width: 90%;
  @include container-grid;
  background-color: $background-light;
  padding: 50px 0 150px;
}

.title-container {
  border-bottom: .09rem solid $background-medium;
  color: $font-dark;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 .8rem 0;
  margin: 0 5%;
  text-align: right;
}

.title {
  font-size: 1.8rem;
}

.location-title {
  font-size: 1.1rem;
}
