.login-form-background {
  @include form-background;
  .main-title,
  .form-title {
    @include form-title(1.8rem);
  }
  .main-title {
    font-size: 4rem;
  }
  .login-content {
    width: 100%;
    margin: auto;
  }
}
.login-error {
  color: red; 
}

.login-form {
  @include box-shadow-radius;
  @include form(75%);
  .login-form-item {
    @include form-item;
    input {
      @include box-shadow-radius;
      @include form-input;
    }
    label {
      color: $background-dark;
    }
  }
}
.login-btn {
  margin-top: 15px;
  @include button($background-dark);
}
