
.login-form-background {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, .1) 0%
    ),
    url("./homePageBackground.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include box-shadow-radius
}

.login-form p {
  text-align: center;
  margin-bottom: 0;
  color: red;
}
.login-form-background h2 {
  font-family: 'Lobster', cursive;
  color: #4037a7;
  font-size: 50px;
  font-weight: bold;
  padding: 0 2%;
  text-align: center;
}
.form-title {
  text-align: center;
  font-family: Comic, sans-serif;
  margin-bottom: -20%;
  margin-top: -3%;
}
.login-title {
  margin-bottom: -25%;

}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #4037a7;
  background-color: whitesmoke;
  opacity: 0.8;
  border-radius: 5px;
  height: 45%;
  justify-content: center;
  margin: auto;
  position: relative;
  text-align: center;
  transform: translate(0, 50%);
  width: 25%;
}

.login-form {
  align-content: space-evenly;
  flex-direction: column;
  height: 100%;
  padding: 20% 0;
  width: 100%;
  display: flex;
}


input {
  font-size: 20px;
  margin: 3% auto;
  width: 80%;
}

label {
  color: #4037a7;
  padding-left: 9%;
  text-align: left;
}

.login-btn {
  align-items: center;
  background-color: #4037a7;
  color: whitesmoke;
  font-family: 'Lobster', cursive;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 800;
  height: auto;
  margin-left: 32%;
  padding: 5px;
  text-transform: uppercase;
  width: 35%;
}
