@import './variables';
@import './mixins';
@import './src/components/SpotContainer/SpotContainer';
@import './src/components/Spot/Spot';
@import './src/components/Nav/Nav';
@import './src/components/Loading/Loading';
@import './src/components/SpotDetails/SpotDetails';
@import './src/components/Weather/Weather';
@import './src/components/Search/Search';

body,
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-light;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red 1px;
  height: 100vh;
}

.weather {
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  display: flex;
  justify-content: center;
  width: 100%;
}

@import './media-queries';
