@import './variables';
@import './mixins';
@import './src/components/SpotContainer/SpotContainer';
@import './src/components/Spot/Spot';
@import './src/components/Nav/Nav';
@import './src/components/Loading/Loading';
@import './src/components/SpotDetails/SpotDetails';
@import './src/components/UserPage/UserPage';
@import './src/components/Error/Error';

body,
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.app-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-light;
}






@import './media-queries';
