$break1: 640px;
$break2: 768px;
$break3: 1024px;
$break4: 1280px;

@media (min-width: $break1) {
   .spot-container {
      grid-template: auto / repeat(1, 1fr);
      width: 70%;
    }
    .nav {
      font-size: .7rem;
    }
    .comment-form {
      width: 90%;
    }
    .login-form {
      width: 65%;
    }
}

@media (min-width: $break2) {
    .spot-container {
      grid-template: auto / repeat(2, 1fr);
      width: 90%;
    }
    .details-comment-wrapper {
      grid-template: auto / repeat(2, 1fr);
    }
    .nav {
      font-size: .8rem;
    }
    .comment-form {
      width: 70%;
    }
    .login-form {
      width: 55%;
    }
}

@media (min-width: $break3) {
    .spot-container {
      grid-template: auto / repeat(3, 1fr);
    }
    .details-comment-wrapper {
      grid-template: auto / repeat(3, 1fr);
   }
   .nav {
    font-size: .9rem;
  }
  .comment-form {
    width: 50%;
  }
  .login-form {
    width: 45%;
  }
}

@media (min-width: $break4) {
    .spot-container {
      grid-template: auto / repeat(4, 1fr);
    }
    .nav {
      font-size: 1rem;
    }
    .comment-form {
      width: 40%;
    }
    .login-form {
      width: 35%;
    }
}






