$break1: 640px;
$break2: 768px;
$break3: 1024px;
$break4: 1280px;

// @media (max-width: $break2){
//   .login-form-container
//   {
//     width: 50%;
//   }
//   .add-new-spot-form-container {
//     width: 50%;
//     margin-top: -25%;
//   }
// }
// @media (max-width: $break3){
//   .add-new-spot-form-container {
//     width: 50%;
//     margin-top: -30%;
//   }
// }

@media (min-width: $break1) {
   .spot-container {
      grid-template: auto / repeat(1, 1fr);
      width: 70%;
    }
    .nav {
      font-size: .7rem;
    }
    .comment-form {
      width: 90%;
    }
}

@media (min-width: $break2) {
    .spot-container {
      grid-template: auto / repeat(2, 1fr);
      width: 90%;
    }
    .details-comment-wrapper {
      grid-template: auto / repeat(2, 1fr);
    }
    .nav {
      font-size: .8rem;
    }
    .comment-form {
      width: 70%;
    }
}

@media (min-width: $break3) {
    .spot-container {
      grid-template: auto / repeat(3, 1fr);
    }
    .details-comment-wrapper {
      grid-template: auto / repeat(3, 1fr);
   }
   .nav {
    font-size: .9rem;
  }
  .comment-form {
    width: 50%;
  }
}

@media (min-width: $break4) {
    .spot-container {
      grid-template: auto / repeat(4, 1fr);
    }
    .nav {
      font-size: 1rem;
    }
    .comment-form {
      width: 40%;
    }
}






