$break1: 640px;
$break2: 768px;
$break3: 1024px;
$break4: 1280px;

@media (min-width: $break1) {
   .spot-container {
      grid-template: auto / repeat(1, 1fr);
      width: 70%;
    } 
   .user-page-title {
     font-size: 4rem;
   }
}

@media (min-width: $break2) {
    .spot-container {
      grid-template: auto / repeat(2, 1fr);
      width: 90%;
    } 
    .details-comment-wrapper {
      grid-template: auto / repeat(2, 1fr);
    }   
    .user-page-title {
      font-size: 5rem;
    } 
}

@media (min-width: $break3) {
    .spot-container {
      grid-template: auto / repeat(3, 1fr);
    }
    .details-comment-wrapper {
      grid-template: auto / repeat(3, 1fr);
   } 
   .user-page-title {
    font-size: 6rem;
  }
}

@media (min-width: $break4) {
    .spot-container {
      grid-template: auto / repeat(4, 1fr);
    }
    
}
