@mixin icon-on-img {
  position: absolute;
  top: 10px;
  z-index: 999;
}

@mixin icon-hover {
  opacity: .7;
  cursor: pointer;
  &:hover {
    opacity: 1;
    transition: opacity .2s;
  }
}

@mixin container-grid {
  display: grid;
  grid-template: auto / repeat(1, 1fr);
  margin: 0 auto;
  grid-gap: 50px;
}

@mixin box-shadow-radius {
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}