@mixin icon-on-img {
  position: absolute;
  top: 10px;
  z-index: 999;
}

@mixin icon-hover {
  opacity: .7;
  cursor: pointer;
  &:hover {
    opacity: 1;
    transition: opacity .2s;
  }
}

@mixin container-grid {
  display: grid;
  grid-template: auto / repeat(1, 1fr);
  margin: 0 auto;
  grid-gap: 50px;
}

@mixin box-shadow-radius {
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

@mixin button($color) {
  padding: 10px 40px;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  border: 2px solid $color;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .8;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: $color;
  &:hover {
    opacity: 1;
    color: #fff;
    background-color: $color;
    transition: color .5s, background-color .5s, opacity .5s;
  }
}