$font-light: #fafafa;
$font-medium: #383838;
$font-dark: #1d1d1d;
$background-white:#fffefe;
$background-light:#f8f8f8;
$background-medium: #c7c7c7;
$background-medium-dark: #a7a7a7;
$background-dark: #333333;
$accent-light: #8393C6;
$accent-medium: #043ba1;
$accent-dark: #001d52;
$alert-error: #9e020f;
$alert-success: #197520;
$alert-warning: #f5ba1a;