$font-light: #fafafa;
$font-medium: #383838;
$font-dark: #1d1d1d;
$background-white:#fffefe;
$background-light:#f8f8f8;
$background-medium: #b3b3b3;
$background-medium-dark: #707070;
$background-dark: #333333;
$accent-light: #8393C6;
$accent-medium: #132E88;
$accent-dark: #04195F;
$alert-error: #9e020f;
$alert-success: #197520;
$alert-warning: #f5ba1a;